.todotecno{
    background-color: #5f5e5e;
    color:white;
    opacity: 0.8;
}
.todotecnoh1{
    background-color: #080808;
    color:white;
}
.todotecnoart1{
    background-color: #474747;
    color:white;
}
.todotecnoart2{
    background-color: #474747;
    color:white;
    opacity: 0.4;
}